<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ivankocijan.workshop_2" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ivankocijan.workshop_2.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ivankocijan.workshop_2.activity.ListViewEgActivity"
            android:label="@string/title_activity_list_item_eg"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ivankocijan.workshop_2.activity.RecycleViewExample"
            android:label="@string/title_activity_recycle_view_example" >
        </activity>
        <activity
            android:name="com.ivankocijan.workshop_2.activity.ScrollViewEgActivity"
            android:label="@string/title_activity_scroll_view_eg" >
        </activity>
        <activity
            android:name=".activity.CardViewEgActivity"
            android:label="@string/title_activity_card_view_eg" >
        </activity>
    </application>

</manifest>
